<div class="mt-3 mb-5">
  <h2>Simulacion de la red</h2>
  <div class="row">
    <div class="col-sm-6">
      <form (submit)="main()">
        <mat-card [class.mat-elevation-z8]="true" class="card-datos">
          <mat-card-header>
            <div mat-card-avatar></div>
            <mat-card-title>Datos de simulacion</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div>
              <button type="button" color="primary" mat-raised-button (click)="fileInput.click()">
                Cargar Datos
              </button>
              <input type="file" hidden #fileInput (change)="onChange($event.target.files)" />
            </div>
          </mat-card-content>
          <mat-card-actions>
            <div *ngIf="this.neurona != null">
              <mat-chip-list aria-label="Fish selection">
                <mat-chip>{{"Entradas: "+this.neurona.nEntradas}}</mat-chip>
                <mat-chip>{{"Salidas: "+this.neurona.nSalidas}}</mat-chip>
                <mat-chip>{{"Patrones: "+this.neurona.nPatrones}}</mat-chip>
              </mat-chip-list>
            </div>
          </mat-card-actions>
        </mat-card>
      </form>

      <form>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mt-5">

          <!-- Name Column -->
          <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef> No. Patron </th>
            <td mat-cell *matCellDef="let element"> {{element.index}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="entradas">
            <th mat-header-cell *matHeaderCellDef> Entradas </th>
            <td mat-cell *matCellDef="let element"> {{element.entradas}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="sDeseada">
            <th mat-header-cell *matHeaderCellDef> Salida esperada </th>
            <td mat-cell *matCellDef="let element"> {{element.sDeseada}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="sObtenida">
            <th mat-header-cell *matHeaderCellDef> Salida obtenida </th>
            <td mat-cell *matCellDef="let element"> {{element.sObtenida}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </form>
    </div>

    <div class="col-sm-6">
      <div>
        <button (click)="main()" type="button" color="primary" mat-raised-button>
          Iniciar Simulacion
        </button>
      </div>

      <div>
        <button (click)="goEntrenar()" type="button" color="primary" mat-raised-button>
          Volver al entrenamiento
        </button>
      </div>

      <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [legend]="legend" [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis" [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel" [timeline]="timeline" [results]="multi" (select)="onSelect($event)"
      (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
    </ngx-charts-line-chart>
    </div>
  </div>
</div>




