<div class="mt-3 mb-5">
  <h2>Entrenamiento de la red</h2>
  <div class="row">
    <div class="col-sm-6">

      <form [formGroup]="form">

        <mat-card [class.mat-elevation-z8]="true" class="card-datos">
          <mat-card-header>
            <div mat-card-avatar></div>
            <mat-card-title>Datos de entrada</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div>
              <button type="button" color="primary" mat-raised-button (click)="fileInput.click()">
                Cargar Datos
              </button>
              <input type="file" hidden #fileInput (change)="onChange($event.target.files)" />
            </div>
          </mat-card-content>
          <mat-card-actions>
            <div *ngIf="this.neurona != null">
              <mat-chip-list aria-label="Fish selection">
                <mat-chip>{{"Entradas: "+this.neurona.nEntradas}}</mat-chip>
                <mat-chip>{{"Salidas: "+this.neurona.nSalidas}}</mat-chip>
                <mat-chip>{{"Patrones: "+this.neurona.nPatrones}}</mat-chip>
              </mat-chip-list>
            </div>
          </mat-card-actions>
        </mat-card>

        <mat-card *ngIf="neurona != null" [class.mat-elevation-z8]="true" class="card-config">
          <mat-card-header>
            <div mat-card-avatar></div>
            <mat-card-title>Configuracion de la red</mat-card-title>
          </mat-card-header>
          <mat-card-content>

            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Numero de centros radiales*</mat-label>
              <input formControlName="nCentrosRadiales" matInput type="number" />
              <mat-error>{{getErrorCentrosRadiales()}}</mat-error>
            </mat-form-field>

            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Funcion de activacion</mat-label>
              <mat-select formControlName="fActivacion">
                <mat-option value="rbf">Base radial</mat-option>
              </mat-select>
              <mat-error> {{getErrorComboFActivacion()}}</mat-error>
            </mat-form-field>

            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Error de aproximación optimo*</mat-label>
              <input formControlName="errorOptimo" matInput type="number" />
              <mat-error> {{getErrorErrorOptimo()}}</mat-error>
            </mat-form-field>
          </mat-card-content>
        </mat-card>

        <div *ngIf="!isInvalidConfigRed" id="style-centros">
          <button mat-flat-button color="primary" (click)="initNeuron()">Inicializar neurona</button>

        </div>
      </form>

    </div>
    <div class="col-sm-6">

      <form [formGroup]="form" (submit)="main()">

        <mat-card *ngIf="!isInvalidConfigRed" [class.mat-elevation-z8]="true"
          class="mt-3">
          <mat-card-header>
            <div mat-card-avatar></div>
            <mat-card-title>Centros radiales</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-card-actions>

              <div *ngIf="this.centrosRadiales != null">
                <mat-chip-list aria-label="Fish selection">
                  <div *ngFor="let item of getArray(this.neurona.nCentrosRadiales); let i = index">
                    <h5>{{"R"+(i+1)}}</h5>
                    <div *ngFor="let item of getArray(this.neurona.nEntradas); let j = index">
                      <mat-chip>{{centrosRadiales[i][j]}}</mat-chip>
                    </div>
                  </div>
                </mat-chip-list>
              </div>
            </mat-card-actions>
          </mat-card-content>
        </mat-card>
        <div>
          <button mat-flat-button color="primary">Iniciar Entrenamiento</button>
        </div>
      </form>
      <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [legend]="legend" [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis" [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel" [timeline]="timeline" [results]="multi" (select)="onSelect($event)"
        (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
      </ngx-charts-line-chart>

      <div>
        <button mat-flat-button color="primary" id="wrapper"
          (click)="guardarNeurona('Pesos guardados', 'Cerrar')">Guardar neurona</button>
        <button mat-flat-button color="primary" id="wrapper" (click)="goSimulacion()">Simular</button>
      </div>

    </div>
  </div>
</div>

<!-- <button (click)="initNeuron()">Init Neuron</button> -->
