form {
  max-width: 500px;
}

.form-field {
  width: 100%;
  max-width: 500px;
  margin-bottom: 10px;
}


button {
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 80%;
}
.card-datos {
  width: 60%;
  margin-top: 2rem;
}

.pesos {
  width: 120%;
}

#wrapper {
  width: 50%;
  margin-left: 12rem;
}
